.card-div {
    margin: 1rem;
}

.card-body {
    height: 35vh;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
}

.card-title {
    height: 3rem;
    overflow: hidden;
}

.card-description {
    height: 15vh;
    overflow-x: hidden;
}

.card-price-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

.card-price-btn p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

.card {
    width: 20rem;
}

.card img {
    padding: 1rem;
}

p {
    color: white;
}

h5 {
    color: white;
    text-align: center;
}